$dark: #212121;
$hn-blue: #1e75fe;

*{
    outline: none;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

body::-webkit-scrollbar {
    width: .4em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}

ul,li{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $dark;
}

.logo{
    img{
        max-width: 175px;
    }
}

.container{
    position: relative;

    .container-wrap{
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;

        .left{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .left{
            width: 45%;
            height: 100vh;
            background-color: #1C74FE;
            position: relative;
            overflow: hidden;
            position: fixed;
            left: 0;
            top: 0;

            img{
                position: absolute;
                height: 80vh;
                max-height: 746px;
                left: 20%;
            }

            .play-button{
                position: absolute;
                left: 25%;
                right: 0;
                top: 45%;
                margin: 0 auto;
                width: 100px;
            }
            
        }

        .right{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 55%;
            position: fixed;
            z-index: 999;
            right: 0;
            top: 0;
            min-height: 600px;
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;

            .content-wrap{
                padding: 50px;

                h1{
                    font-weight: 300;
                    color: $dark;
                    font-size: 48px;
                    margin-bottom: 8px;
                    @media (max-width: 425px){
                        font-size: 40px;
                    }
                }

                h2{
                    font-size: 28px;
                    font-weight: 500;
                    margin: 0 0 32px 0;
                }

                p{
                    line-height: 28px;
                    max-width: 80%;
                    margin-bottom: 2rem;
                }   

                h3{
                    margin: 0 0 .5rem 0;
                    font-size: 1rem;
                    font-weight: 700;
                }

                .cta{
                    margin-bottom: 2rem;
                    a{
                        display: block;
                        width: 240px;
                        &.add-to-chrome-btn{
                            width: auto;
                            padding: 8px 24px;
                            border-radius: 4px;
                            background: #2962ff;
                            color: #FFF;
                            display: inline-block;
                            margin-bottom: 24px;
                            font-size: 14px;
                            font-weight: 600;
                        }
                        img{
                            width: 100%;
                        }
                    }
                    
                }

                .extra-links{
                    margin-top: 25px;
                    a{
                        font-size: 14px;
                        margin-right: 10px;
                        font-weight: bold;
                        color: #666;
                    }
                }

                h5{
                    margin-bottom: .5rem;
                }

                .share-links{
                    a{
                        font-size: 30px;
                        color: #757575;
                    }
                }

                @media (max-width: 425px){
                    padding: 24px;
                }
                
            }

            .footer{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                padding: 20px 10px;
                background: #f9f9f9;
                text-align: center;
                font-size: 16px;
            }
            
        }
        
    }
    
}

.container{

    .container-wrap{
        transition: .11s all linear;
    }

    &.active .container-wrap{
        transition: .11s all linear;    
        transform: scale(.9)
    }
    
}

#demo{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255, .7);
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index: 999999;
    pointer-events: none;
    transition: .11s all linear;
    
    .demo-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        position: relative;

        .close-button{
            position: absolute;
            right: 10px;
            top: 10px;

            img{
                width: 30px;
            }
            
        }
        
        & > div{
            width: 1020px;
            height: 720px;
            transform: scale(0.9);
            margin: 0!important;
            transition: .11s all linear;
        }

    }

    &.active{
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        pointer-events: inherit;
        
        .demo-wrap > div{
            // transition-delay: .11s;
            transition: .11s all linear;    
            transform: scale(1);
        }
        
    }
    
}

pre, code{
    width: 600px;
    background-color: #f6f8fa;
    border-radius: 3px;
    overflow: auto;
    padding: 5px;
    line-height: 28px;
}
pre{
    overflow: auto;
}

a{
    color: #1C74FE;
}

@media screen and (max-width: 1258px){

    .left{
        width: 20px!important;
        display: none;
        img{
            display: none;
        }
    }
    .right{
        width: 100%!important;
        flex-grow: 1;
    }

    .play-button{
        display: none;
    }
    
}

footer{
    font-size: 14px;
    margin-bottom: 2rem;
}